:root {
    --bg-color: #fff;
    --text-color: #333;
    --border-color: #ccc;
    --accent-color: 74, 144, 226;
    --weekend-bg: #f6f6f6;
    --accent-font-color: #fff;
    --muted-color: rgba(0, 0, 0, 0.4);
}

*, *::before, *::after {
    box-sizing: border-box;
}

[data-theme="dark"],
[data-theme^="dark-"] {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --border-color: #333;
    --weekend-bg: #232323;
    --muted-color: rgba(255, 255, 255, 0.4);
}

[data-theme$="-blue"] {
    --accent-color: 74, 144, 226;
}

[data-theme$="-olive"] {
    --accent-color: 128, 128, 0;
}

[data-theme$="-red"] {
    --accent-color: 231, 76, 60;
}

[data-theme$="-redgrape"] {
    --accent-color: 142, 68, 173;
}

[data-theme$="-orange"] {
    --accent-color: 230, 126, 34;
}

[data-theme$="-teal"] {
    --accent-color: 26, 188, 156;
}

[data-theme$="-pink"] {
    --accent-color: 232, 67, 147;
}

[data-theme$="-cyan"] {
    --accent-color: 0, 188, 212;
}

[data-theme$="-lime"] {
    --accent-color: 205, 220, 57;
    --accent-font-color: #333;
}

[data-theme$="-purple"] {
    --accent-color: 156, 39, 176;
}

[data-theme$="-green"] {
    --accent-color: 39, 174, 96;
}

[data-theme$="-burgundy"] {
    --accent-color: 112, 18, 21;
}

[data-theme$="-grey"] {
    --accent-color: 127, 140, 141;
}

* {
    transition: background-color 0.3s, color 0.1s, border-color 0.3s;
}

.exporting * {
    transition: none !important;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: system-ui, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
}

.header h1 {
    margin: 0;
    font-size: 1.8em;
    flex: 1;
}

.layout {
    display: flex;
}

.sidebar {
    width: 260px;
    padding: 12px;
    border-right: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar h2 {
    font-size: 1.2em;
}

.sidebar h2:first-child {
    margin-top: 0;
}

.sidebar .form-control label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.9em;
}

.sidebar .form-control {
    margin-bottom: 12px;
}

.sidebar input[type="checkbox"] {
    margin-left: 0px;
}

.main-section {
    margin: 0 auto;
    width: 876px;
    background: var(--bg-color);
}

.calendar {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 12px 0;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.month {
    border: 2px solid rgb(var(--accent-color));
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    width: 40px;
    height: 30px;
    border: 1px solid var(--border-color);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}


.day.empty {
    background: rgba(var(--accent-color), 0.15);
}

.event {
    background: rgb(var(--accent-color));
    color: #fff;
    font-size: 0.65em;
    padding: 1px 2px;
    margin-top: 2px;
}

.event-list {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event-list-wrapper {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.event-list-wrapper .event-column {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.event-list-wrapper .event-item {
    min-width: 0;
    font-size: 0.9em;
    padding: 4px 6px;
    border-bottom: solid 1px rgba(var(--accent-color), 0.4);
    display: flex;
    min-height: 26px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.event-list-wrapper .event-item:not(.empty):hover {
    background: rgba(var(--accent-color), 0.2);
}

.event-list-wrapper h3 {
    grid-column: 1 / 3;
    font-size: .85rem;
    font-weight: normal;
    color: var(--muted-color);
}

.event-date {
    min-width: 150px;
    display: inline-block;
}

.event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 30px;
}

.week-header {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 20px;
    font-weight: bold;
    text-align: center;
    font-size: .8rem;
    line-height: 1.5;
    background: var(--weekend-bg);
}

.week-header div {
    border: solid var(--border-color) 1px;
}

.week-header div {
    border-right-width: 0;
    border-left-width: 0;
}

.week-header div:first-child {
    border-left-width: 1px;
}

.week-header div:last-child {
    border-right-width: 1px;
}


.weekday {
    padding: 4px 0;
    cursor: pointer;
}

.day {
    position: relative;
}

.day.weekend {
    font-weight: normal;
    color: rgba(var(--text-color), 0.4);
    cursor: default;
}

.day.weekday.marked {
    background: rgb(var(--accent-color));
    color: var(--accent-font-color);
    cursor: help;
}

.day.weekday.marked.half {
    cursor: help;
    background: linear-gradient(45deg,
            rgb(var(--accent-color)) 80%,
            transparent 30%);
}

body:not(.exporting) .day.weekday.selected {
	border: rgb(var(--accent-color)) solid 4px;
	border-radius: 4px;
	transform: scale(1.1);
	z-index: 1;
	background: rgba(var(--accent-color), 0.1);
}

.month-title {
    text-align: center;
    font-weight: bold;
    background-color: rgb(var(--accent-color));
    color: var(--accent-font-color);
    padding: 0.5rem 0;
}

.day.marked.weekday.range {
    border-inline-start: none;
    border-inline-end: none;
}

.day.marked.weekday.range.range-start,
.day.marked.weekday.range[data-day="1"] {
    border-inline-start: 1px solid var(--border-color);
}

.day.marked.weekday.range.range-end,
.day.marked.weekday.range[data-day="5"] {
    border-inline-end: 1px solid var(--border-color);
}

.reference {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
    flex-wrap: nowrap;
}

.reference>div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.reference .day {
    border-width: 2px;
}

.event-actions button {
    height: 16px;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.event-actions button:hover {
    background: rgb(var(--accent-color));
    color: var(--accent-font-color);
}

#calendar-header {
    text-align: center;
    color: rgb(var(--accent-color));
}

#calendar-header h1 {
    font-size: 1.5em;
    border: solid 2px rgb(var(--accent-color));
    font-weight: bold;
    line-height: 1.5;
    background: rgb(var(--accent-color));
    color: var(--accent-font-color);
}

#calendar-header h2 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
}