:root {
    --bg-color: #fff;
    --text-color: 51, 51, 51;
    --border-color: #ccc;
    --accent-color-rgb: 74, 144, 226;
    --accent-color: rgb(var(--accent-color-rgb));
    --accent-color-90: rgba(var(--accent-color-rgb), 0.9);
    --accent-color-80: rgba(var(--accent-color-rgb), 0.8);
    --accent-color-70: rgba(var(--accent-color-rgb), 0.7);
    --accent-color-60: rgba(var(--accent-color-rgb), 0.6);
    --accent-color-50: rgba(var(--accent-color-rgb), 0.5);
    --accent-color-40: rgba(var(--accent-color-rgb), 0.4);
    --accent-color-30: rgba(var(--accent-color-rgb), 0.3);
    --accent-color-20: rgba(var(--accent-color-rgb), 0.2);
    --accent-color-10: rgba(var(--accent-color-rgb), 0.1);
    --weekend-bg: #f6f6f6;
    --accent-font-color: #fff;
    --muted-color: hsla(0, 0%, 0%, 0.4);
    --input-border-color: #dee2e6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

[data-theme="dark"],
[data-theme^="dark-"] {
    --bg-color: #212529;
    --text-color: 240, 240, 240;
    --border-color: #444;
    --weekend-bg: #232323;
    --muted-color: rgba(255, 255, 255, 0.4);
    --input-border-color: #495057;
    color-scheme: dark;
}

[data-theme$="-blue"] {
    --accent-color-rgb: 74, 144, 226;
}

[data-theme$="-olive"] {
    --accent-color-rgb: 128, 128, 0;
}

[data-theme$="-red"] {
    --accent-color-rgb: 231, 76, 60;
}

[data-theme$="-redgrape"] {
    --accent-color-rgb: 142, 68, 173;
}

[data-theme$="-orange"] {
    --accent-color-rgb: 230, 126, 34;
}

[data-theme$="-teal"] {
    --accent-color-rgb: 26, 188, 156;
}

[data-theme$="-pink"] {
    --accent-color-rgb: 232, 67, 147;
}

[data-theme$="-cyan"] {
    --accent-color-rgb: 0, 188, 212;
}

[data-theme$="-lime"] {
    --accent-color-rgb: 205, 220, 57;
    --accent-font-color: #333;
}

[data-theme$="-purple"] {
    --accent-color-rgb: 156, 39, 176;
}

[data-theme$="-green"] {
    --accent-color-rgb: 39, 174, 96;
}

[data-theme$="-burgundy"] {
    --accent-color-rgb: 112, 18, 21;
}

[data-theme$="-grey"] {
    --accent-color-rgb: 127, 140, 141;
}

* {
    transition: background-color 0.3s, color 0.1s, border-color 0.3s;
}

body.exporting * {
    transition: none !important;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: rgb(var(--text-color));
    font-family: system-ui, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
}

.header h1 {
    margin: 0;
    font-size: 1.8em;
    flex: 1;
}

.layout {
    display: flex;
}

.sidebar {
    width: 260px;
    padding: 12px;
    border-right: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar h2 {
    font-size: 1.2em;
}

.sidebar h2:first-child {
    margin-top: 0;
}

.sidebar .form-control label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.9em;
}

.sidebar .form-control {
    margin-bottom: 12px;
}

.sidebar input {
    width: 100%;
    border: 1px solid var(--input-border-color);
    background-color: rgb(var(--bg-color));
    color: rgb(var(--text-color));
    padding: .375rem .75rem;
    border-radius: 0.375rem;
}

.sidebar input[type="checkbox"] {
    margin-left: 0px;
    width: auto;
}

.main-section {
    margin: 0 auto;
    width: 876px;
    background: var(--bg-color);
}

.calendar {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 12px 0;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.month {
    border: 2px solid var(--accent-color);
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    width: 40px;
    height: 30px;
    border: 1px solid var(--border-color);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}


.day.empty {
    background: var(--accent-color-10);
}

.event {
    background: var(--accent-color);
    color: #fff;
    font-size: 0.65em;
    padding: 1px 2px;
    margin-top: 2px;
}

.event-list {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event-list-wrapper {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.event-list-wrapper .event-column {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.event-list-wrapper .event-item {
    min-width: 0;
    font-size: 0.9em;
    padding: 4px 6px;
    border-bottom: solid 1px var(--accent-color-40);
    display: flex;
    min-height: 26px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.event-list-wrapper .event-item:not(.empty):hover {
    background: var(--accent-color-20);
}

.event-list-wrapper h3 {
    grid-column: 1 / 3;
    font-size: .85rem;
    font-weight: normal;
    color: var(--muted-color);
}

.event-date {
    min-width: 150px;
    display: inline-block;
}

.event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 30px;
}

.week-header {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 20px;
    font-weight: bold;
    text-align: center;
    font-size: .8rem;
    line-height: 1.5;
    background: var(--weekend-bg);
}

.week-header div {
    border: solid var(--border-color) 1px;
}

.week-header div {
    border-right-width: 0;
    border-left-width: 0;
}

.week-header div:first-child {
    border-left-width: 1px;
}

.week-header div:last-child {
    border-right-width: 1px;
}


.weekday {
    padding: 4px 0;
    cursor: pointer;
}

.day {
    position: relative;
}

.day.weekend {
    font-weight: normal;
    color: rgba(var(--text-color), 0.4);
    cursor: default;
}

.day.weekday.marked {
    background: var(--accent-color);
    color: var(--accent-font-color);
    cursor: help;
}

.day.weekday.marked.half {
    cursor: help;
    background: linear-gradient(45deg,
            var(--accent-color) 80%,
            var(--border-color) 30%);
}

body:not(.exporting) .day.weekday.selected {
    border-radius: 4px;
    z-index: 1;
    background: var(--accent-color-10);
    box-shadow: 0px 0 0px 3px var(--accent-color);
}

.day.weekday.period::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 3px solid rgb(var(--text-color));
    border-radius: 50%;
    transform: scale(1.2);
}

.day.weekday.test {
    background: linear-gradient(45deg, var(--accent-color) 25%, var(--accent-color-80) 25%, var(--accent-color-80) 50%, var(--accent-color) 50%, var(--accent-color) 75%, var(--accent-color-80) 75%, var(--accent-color-80) 100%);
    background-size: 6.5px 6.5px;
}

.month-title {
    text-align: center;
    font-weight: bold;
    background-color: var(--accent-color);
    color: var(--accent-font-color);
    padding: 0.5rem 0;
}

.day.marked.weekday.range {
    border-inline-start: none;
    border-inline-end: none;
}

.day.marked.weekday.range.range-start,
.day.marked.weekday.range[data-day="1"] {
    border-inline-start: 1px solid var(--border-color);
}

.day.marked.weekday.range.range-end,
.day.marked.weekday.range[data-day="5"] {
    border-inline-end: 1px solid var(--border-color);
}

.legend {
    display: grid;
    grid-template-columns: repeat(3, 284px);
    gap: 12px;
    font-size: .85rem;
}

.legend>div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.legend .day {
    border-width: 2px;
}

body.exporting .event-actions {
    display: none;
}

.event-actions button {
    height: 16px;
    background: none;
    border: none;
    color: rgb(var(--text-color));
    cursor: pointer;
}

.event-actions button:hover {
    background: var(--accent-color);
    color: var(--accent-font-color);
}

#calendar-header {
    text-align: center;
    color: var(--accent-color);
}

#calendar-header h1 {
    font-size: 1.5em;
    border: solid 2px var(--accent-color);
    font-weight: bold;
    line-height: 1.5;
    background: var(--accent-color);
    color: var(--accent-font-color);
}

#calendar-header h2 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
}

body.exporting #out-of-range-event-list {
    display: none;
}