:root {
  --bg-color: #fff;
  --text-color-rgb: 51, 51, 51;
  --text-color: rgb(var(--text-color-rgb));
  --border-color: #ccc;
  --accent-color-rgb: 74, 144, 226;
  --accent-color: rgb(var(--accent-color-rgb));
  --accent-color-90: rgba(var(--accent-color-rgb), 0.9);
  --accent-color-80: rgba(var(--accent-color-rgb), 0.8);
  --accent-color-70: rgba(var(--accent-color-rgb), 0.7);
  --accent-color-60: rgba(var(--accent-color-rgb), 0.6);
  --accent-color-50: rgba(var(--accent-color-rgb), 0.5);
  --accent-color-40: rgba(var(--accent-color-rgb), 0.4);
  --accent-color-30: rgba(var(--accent-color-rgb), 0.3);
  --accent-color-20: rgba(var(--accent-color-rgb), 0.2);
  --accent-color-10: rgba(var(--accent-color-rgb), 0.1);
  --weekend-bg: #f6f6f6;
  --accent-text-color: #fff;
  --muted-color: rgba(0, 0, 0, 0.4);
  --input-border-color: #dee2e6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-theme='dark'],
[data-theme^='dark-'] {
  --bg-color: #121212;
  --text-color-rgb: 240, 240, 240;
  --border-color: #444;
  --weekend-bg: #232323;
  --muted-color: rgba(255, 255, 255, 0.4);
  --input-border-color: #495057;
  color-scheme: dark;
}

[data-theme$='-blue'] {
  --accent-color-rgb: 74, 144, 226;
}

[data-theme$='-olive'] {
  --accent-color-rgb: 128, 128, 0;
}

[data-theme$='-red'] {
  --accent-color-rgb: 231, 76, 60;
}

[data-theme$='-redgrape'] {
  --accent-color-rgb: 142, 68, 173;
}

[data-theme$='-orange'] {
  --accent-color-rgb: 230, 126, 34;
}

[data-theme$='-teal'] {
  --accent-color-rgb: 26, 188, 156;
}

[data-theme$='-pink'] {
  --accent-color-rgb: 232, 67, 147;
}

[data-theme$='-cyan'] {
  --accent-color-rgb: 0, 188, 212;
}

[data-theme$='-lime'] {
  --accent-color-rgb: 205, 220, 57;
  --accent-text-color: #333;
}

[data-theme$='-purple'] {
  --accent-color-rgb: 156, 39, 176;
}

[data-theme$='-green'] {
  --accent-color-rgb: 39, 174, 96;
}

[data-theme$='-burgundy'] {
  --accent-color-rgb: 112, 18, 21;
}

[data-theme$='-grey'] {
  --accent-color-rgb: 127, 140, 141;
}

[data-theme$='-brown'] {
  --accent-color-rgb: 121, 85, 72;
}

[data-theme$='-navy'] {
  --accent-color-rgb: 71, 102, 132;
}

[data-theme$='-gold'] {
  --accent-color-rgb: 212, 175, 55;
  --accent-text-color: #333;
}

[data-theme$='-indigo'] {
  --accent-color-rgb: 63, 81, 181;
}

* {
  transition:
    background-color 0.3s,
    color 0.1s,
    border-color 0.3s;
}

body.exporting * {
  transition: none !important;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 12px;
  border-bottom: 1px solid var(--border-color);
}

.header h1 {
  margin: 0;
  font-size: 1.8em;
}

.layout {
  display: flex;
}

.sidebar {
  width: 260px;
  padding: 12px;
  border-inline-end: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar h2 {
  font-size: 1.2em;
}

.sidebar h2:first-child {
  margin-top: 0;
}

.sidebar .form-control label {
  display: block;
  margin-bottom: 6px;
  font-size: 0.9em;
}

.sidebar .form-control {
  margin-bottom: 12px;
}

input,
select {
  border: 1px solid var(--input-border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
}

.sidebar input,
.sidebar select {
  width: 100%;
}

.sidebar input[type='checkbox'] {
  margin-inline-start: 0px;
  width: auto;
}

.main-section {
  margin: 0 auto;
  width: 876px;
  background: var(--bg-color);
}

.calendar {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 12px 0;
}

#calendar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.month {
  border: 2px solid var(--accent-color);
  border-radius: 0.2rem;
}

.month .day:nth-last-child(7) {
  border-start-start-radius: 0.05rem;
}

.month .day:last-child {
  border-end-end-radius: 0.05rem;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  width: 40px;
  height: 30px;
  border: 1px solid var(--border-color);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}

.day.empty {
  background: var(--accent-color-10);
}

.event {
  background: var(--accent-color);
  color: #fff;
  font-size: 0.65em;
  padding: 1px 2px;
  margin-top: 2px;
}

.event-list {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event-list-wrapper {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.event-list-wrapper .event-column {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.event-list-wrapper .event-item {
  display: grid;
  min-width: 0;
  font-size: 0.8em;
  padding: 4px 6px;
  border-bottom: solid 1px var(--accent-color-40);
  min-height: 26px;
  grid-template-columns: 9px 150px 1fr auto;
  align-items: end;
  gap: 7px;
}

.event-list-wrapper .event-item:not(.empty):hover {
  background: var(--accent-color-20);
}

.event-list-wrapper h3 {
  grid-column: 1 / 3;
  font-size: 0.85rem;
  font-weight: normal;
  color: var(--muted-color);
}

.event-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-auto-rows: 30px;
}

.week-header {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-auto-rows: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5;
  background: var(--weekend-bg);
}

.week-header div {
  border: solid var(--border-color) 1px;
}

.week-header div {
  border-inline-end: 0;
  border-inline-start: 0;
}

.week-header div:first-child {
  border-inline-start: 1px;
}

.week-header div:last-child {
  border-inline-end: 1px;
}

.weekday {
  padding: 4px 0;
  cursor: pointer;
}

.day {
  position: relative;
}

.day.weekend {
  font-weight: normal;
  color: rgba(var(--text-color-rgb), 0.4);
  cursor: default;
}

.day.weekday.marked {
  cursor: default;
  background-color: var(--bg-color);
}

.day.weekday.marked.no-activity {
  background: var(--accent-color);
  color: var(--accent-text-color);
}

.day.weekday.marked.half-day {
  color: var(--accent-text-color);
  background: linear-gradient(
    45deg,
    var(--accent-color) 80%,
    var(--border-color) 30%
  );
}

body:not(.exporting) .day.weekday.selected {
  border-radius: 4px;
  z-index: 1;
  background: var(--accent-color-10);
  box-shadow: 0px 0 0px 3px var(--accent-color);
}

.day.weekday.start-end-period::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  transform: scale(1.2);
}

.day.weekday.internal-activity::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.day.weekday.community-event {
  background-image:
    linear-gradient(
      45deg,
      var(--accent-color) 20%,
      transparent 20%,
      transparent 80%,
      var(--accent-color) 80%
    ),
    linear-gradient(
      135deg,
      var(--accent-color) 20%,
      transparent 20%,
      transparent 80%,
      var(--accent-color) 80%
    );
}

.day.weekday.administrative-event {
  background-image: linear-gradient(
    45deg,
    var(--accent-color) 25%,
    var(--accent-color-80) 25%,
    var(--accent-color-80) 50%,
    var(--accent-color) 50%,
    var(--accent-color) 75%,
    var(--accent-color-80) 75%,
    var(--accent-color-80) 100%
  );
  background-size: 6.5px 6.5px;
  color: var(--accent-text-color);
}

[data-theme^='dark-'] .day.weekday.administrative-event {
  background-image: linear-gradient(
    45deg,
    var(--accent-color) 25%,
    var(--accent-color-60) 25%,
    var(--accent-color-60) 50%,
    var(--accent-color) 50%,
    var(--accent-color) 75%,
    var(--accent-color-60) 75%,
    var(--accent-color-60) 100%
  );
}

.month-title {
  text-align: center;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 0.5rem 0;
}

.day.marked.weekday.range {
  border-inline-start: none;
  border-inline-end: none;
}

.day.marked.weekday.range.range-start,
.day.marked.weekday.range[data-day='1'] {
  border-inline-start: 1px solid var(--border-color);
}

.day.marked.weekday.range.range-end,
.day.marked.weekday.range[data-day='5'] {
  border-inline-end: 1px solid var(--border-color);
}

.legend {
  display: grid;
  grid-template-columns: repeat(3, 284px);
  gap: 0.5rem 0.75rem;
  font-size: 0.85rem;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.2rem;
}

.legend > div:hover {
  background: var(--accent-color-10);
}

.legend .day.marked {
  border-width: 2px;
  cursor: default;
}

body.exporting .event-actions,
body.exporting .tooltip {
  display: none;
}

.event-actions button {
  height: 16px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  width: 16px;
  border-radius: 0.2rem;
  padding: 0;
}

.event-actions button:hover {
  background: var(--accent-color);
  color: var(--accent-text-color);
}

#calendar-header {
  text-align: center;
  color: var(--accent-color);
}

#calendar-header h1 {
  font-size: 1.5em;
  border: solid 2px var(--accent-color);
  font-weight: bold;
  line-height: 1.5;
  background: var(--accent-color);
  color: var(--accent-text-color);
  border-radius: 0.2rem;
}

#calendar-header h2 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5;
}

body.exporting #out-of-range-event-list {
  display: none;
}

.event-icon {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.event-item.no-activity .event-icon {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.event-item.half-day .event-icon {
  background: linear-gradient(90deg, var(--accent-color) 60%, transparent 60%);
}

.event-item.administrative-event .event-icon {
  background: linear-gradient(
    45deg,
    var(--accent-color) 50%,
    var(--accent-color-40) 50%
  );
}

.event-item.internal-activity .event-icon {
  background: radial-gradient(
    circle,
    var(--accent-color-80) 40%,
    transparent 40%
  );
}

.event-item.community-event .event-icon {
  background-color: var(--accent-color);
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  margin-inline-end: 0px;
  margin-bottom: 4px;
  margin-inline-start: 1px;
}

.event-item.start-end-period .event-icon {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}

.event-list .event-item.event-highlight {
  background: var(--accent-color-10);
}

.calendar-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  flex: 1;
}

body:has(dialog[open]) {
  overflow: hidden;
}

dialog {
  box-shadow:
    0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 0.35rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 400px;
}

dialog .dialog-header h3 {
  margin: 0;
  font-size: 1.2em;
}

dialog::backdrop {
  background-color: var(--accent-color-80);
}

.dialog-description {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--text-color);
}

.dialog-description p {
  margin: 0.25rem 0;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: bold;
}

.btn-secondary {
  background-color: transparent;
  color: var(--accent-color);
}

.btn-secondary:hover {
  background-color: var(--accent-color-20);
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.btn-primary:hover {
  background-color: var(--accent-color-80);
}

.btn-danger {
  background-color: #e74c3c;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c0392b;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  background-color: var(--accent-color);
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.75rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
  font-weight: normal;
  color: var(--accent-text-color);
  overflow: hidden;
}

.tooltip-title {
  font-weight: bold;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
  padding: 0.75rem 0.75rem 0;
}

.tooltip-date {
  font-size: 0.8rem;
  padding: 0 0.75rem;
  font-style: italic;
}

.tooltip-type {
  color: var(--text-color);
  background: var(--input-border-color);
  padding: 0.4rem 0.75rem;
  margin-top: 0.5rem;
  text-align: center;
}

.day:hover .tooltip {
  display: block;
}

.day[data-day='0'] .tooltip,
.day[data-day='1'] .tooltip,
.day[data-day='2'] .tooltip {
  left: 0;
  right: auto;
  transform: translateX(0) translateY(5px);
}

.day[data-day='4'] .tooltip,
.day[data-day='5'] .tooltip,
.day[data-day='6'] .tooltip {
  left: auto;
  right: 0;
  transform: translateX(0) translateY(5px);
}
